<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFactHandler" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2109/Services/FactHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFactHandler"
                contract="FactHandler.IFactHandler" name="BasicHttpBinding_IFactHandler" />
    </client>
  </system.serviceModel>
</configuration>